<h1>Bienvenue</h1>
<a href="/livres">Voir les livres</a>
<a href="/livres/ajouter">Ajouter un livre</a>

<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" href="/style.css">
  
</head>
<body>

  <h1>📚 Bibliothèque alexandrins Paul kakoba jr</h1>

  <p>Bienvenue dans mon application de gestion de livres.</p>

  <a href="/livres">
    <button>Voir les livres</button>
  </a>

  <a href="/livres/ajouter">
    <button>Ajouter un livre</button>
  </a>

</body>
</html>